@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

:root {
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
}

.bg-flyndre {
    background: linear-gradient(0.375turn, #ffa6ba, #ff9ff6, #c698ff);
}